.container{
    display:flex;
    background-color: black;
}


.content{	max-width: 250px;
	position: relative;
}
 
.content{
	display: flex;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #020202;
	font-size: 16px;
	color:white;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
// .content :hover{
// 	background: #d9ece3;
// }